@using BookProject.Enums
@model BookModel
@inject BookProject.Repository.ILanguageRepository _languageRepository
@{
    ViewData["Title"] = "Add New Book"; 
}

<div class="container">
    <h1 class="display-4">Add New Book</h1>
    <hr />
    @if (ViewBag.isSuccess == true)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Congratulations!</strong> You should add new book successfully<br />
            Click <a asp-controller="Book" asp-action="GetBook" asp-route-id="@ViewBag.BookId">here</a> to view the details
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    @*<div class="d-flex justify-content-center">
        <div class="spinner-border" role="status" id="myLoader" style="display:none;">
            <span class="sr-only">Loading...</span>
        </div>
    </div>*@
    @*<form method="post" data-ajax="true" data-ajax-success="mySuccess" data-ajax-failure="myFailure" data-ajax-complete="myComplete" data-ajax-loading="#myLoader" asp-action="AddNewBook" asp-controller="Book" novalidate>*@

    @*<form method="post" asp-action="AddNewBook" asp-controller="Book" novalidate>*@
<form method="post" enctype="multipart/form-data" asp-action="AddNewBook" asp-controller="Book" novalidate>
    @*<div asp-validation-summary="All" class="text-danger"></div>*@
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Author"></label>
        <input asp-for="Author" class="form-control" />
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TotalPage"></label>
        <input asp-for="TotalPage" class="form-control" />
        <span asp-validation-for="TotalPage" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LanguageId"></label>
        <select asp-for="LanguageId" class="form-control" asp-items="(await _languageRepository.GetLanguages()).Select(x => new SelectListItem()
       {
           Text = x.Text,
           Value = x.Id.ToString()
       }).ToList()">
            @*<select asp-for="LanguageId" class="form-control" asp-items="ViewBag.Language">*@
            @*<select asp-for="Language" class="form-control" asp-items="new SelectList(ViewBag.Language, selected)">*@
            <!--<option value="">Please choose A book language</option>
            <option value="Hindi">Hindi Language</option>-->
            @*<option selected>English</option>*@
            <!--<option value="English">English Language</option>
            <option value="Japanese">Japanese Language</option>
            <option value="Dutch">Dutch Language</option>-->
            <option value="">Please choose A book language</option>
        </select>
        <span asp-validation-for="LanguageId" class="text-danger"></span>
    </div>

    <div class="form-group">
        @*<label asp-for="MultiLanguage"></label>
            <select asp-for="MultiLanguage" class="form-control" asp-items="ViewBag.Language" multiple>
                <option value="">Please choose A book language</option>
            </select>
            <span asp-validation-for="MultiLanguage" class="text-danger"></span>*@

        <label asp-for="LanguageEnum"></label>
        <select asp-for="LanguageEnum" class="form-control" asp-items="Html.GetEnumSelectList<LanguageEnum>()">
            <option value="">Please choose A book language</option>
        </select>
        <span asp-validation-for="LanguageEnum" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CoverPhoto"></label>
        <div class="custom-file">
            <input asp-for="CoverPhoto" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
        <span asp-validation-for="CoverPhoto" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="GalleryPhoto"></label>
        <div class="custom-file">
            <input asp-for="GalleryPhoto" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
        <span asp-validation-for="GalleryPhoto" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BookPdf"></label>
        <div class="custom-file">
            <input asp-for="BookPdf" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
        <span asp-validation-for="BookPdf" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Add Book" class="btn btn-primary" />
    </div>
</form>
</div>

@*@section scripts{
    <script>
        function myComplete() {
            alert("I am from complete");
        }

        function mySuccess() {
            alert("I am from success");
        }

        function myFailure() {
            alert("I am from failure");
        }
    </script>
}*@
