@model IEnumerable<BookModel>

@{
    ViewData["Title"] = "All Book Page";
}

@*@{
    var data = new Dictionary<string, string>() {
        { "name", "Irfan" },
        { "age", "23"},
        { "gender", "male" }
    };
}*@

<div class="container">
    <h2 class="display-4">List of Books</h2>
    <div class="row">
        @foreach (var book in Model)
        {
        <div class="col-md-4">
            @*<partial name="../Shared/_bookThumbnail.cshtml" model="@book" />*@
            <partial name="_bookThumbnail" model="@book" />
        </div>
        }
    </div>
</div>